<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sign Up!</title>
	<link rel="stylesheet"  href="/stylesheets/style.css" />
</head>
<body>
	<div class="">

		<h1>Sign Up!</h1>
		<form action="/signup" method="post">
			user<br><input type="text" name="username" required><br>
			password<br><input type="password" name="password" id="password" required><br>
			Repeat password<br><input type="password" name="password2" id="confirm_password" required><br>
			<input type="submit" value="Submit">
		</form> 
		<p>Already have and account? <a href='/'>Login</a></p>

	</div>
		<script src="confirm_password.js">
	</script>
</body>
</html>
